<nav class="navbar navbar-dark bg-dark transparent" id="nav1">
    <div class="justify-content-left">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
        <a class="homeLink" href="/">Home</a>
        <a class="savedArticlesLink" href="/saved">Saved Articles</a>
        <a id= "scrapeNow" class="btn btn-danger" >Scrape New Articles</a>
        <!-- <a class="btn btn-danger">Clear Articles</a> -->
    </div>
</nav>

<div class="container">
    <div class="row">
        {{#each article}}
        {{>article-block}}
        {{/each}}
    </div>

</div>