<nav class="navbar navbar-dark bg-dark transparent" id="nav1">
    <div class="justify-content-left">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
        <a class="homeLink" href="/">Home</a>
        <a class="savedArticlesLink" href="/saved">Saved Articles</a>
        <a id= "scrapeNow" class="btn btn-danger" >Scrape New Articles</a>
        <!-- <a class="btn btn-danger">Clear Articles</a> -->
    </div>
</nav>

<div class="container">
    <div class="row">
        {{#each article}}
        {{>saved-block}}
        {{/each}}
    </div>

</div>


{{!-- add later for notes --}}
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleMessage">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="bodyInput">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveNoteButton">Send message</button>
      </div>
    </div>
  </div>
</div> --}}